.homepage {
    z-index: 0;
    padding: 0px;
    position: relative;
}

.home-title {
    padding-top: 30px;
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}