.title {
    font-size: 30px;
    text-align: center;
}

.myaccount {
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.upper-box {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    background: rgb(250, 250, 250);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.2);
}

.lower-box {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.payment-box {
    background: rgb(240, 240, 240);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.2);
    width: 40%;
}

.shipping-box {
    background: rgb(240, 240, 240);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.2);
    width: 40%;
}