.signout-btn {
  background-color: transparent;
  color: rgba(249, 234, 221, 0.666);
  padding: 30px 0px 0px 0px;
  font-size: 20px;
  border: none;
  right: 0;
  position: relative;
  outline: none;
}

.signout-btn:focus {
  outline: none;
}
