@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&display=swap");
.navigation {
  width: 100%;
  background-color: rgb(20, 32, 52);
  height: 125px;
  padding: 20px;
  display: flex;
  z-index: 200;
  align-items: center;
  position: relative;
  padding-top: 30px;
}
.app-title {
  position: relative;
  display: flex;
  width: 50%;
}

.geek-text-title {
  font-family: "B612 Mono", monospace;
  color: rgb(249, 234, 221);
  font-size: 50px;
  position: relative;
  margin-left: 30px;
}

.geek-text-title:hover {
  text-decoration: none;
  border: none;
}

.navcontent {
  position: relative;
  width: 200%;
  padding: 0px;
  display: flex;
  float: right;
  text-align: right;
  justify-content: flex-end;
  justify-content: space-around;
  margin: 0 auto;
  /* border: solid; */
  color: white;
  /* padding-bottom: 5px; */
}

.navcontent a {
  border-bottom: 0px;
  position: relative;
  padding: 20px 0px 0px 0px;
  color: rgb(249, 234, 221);
  text-decoration: none;
  position: relative;
  display: flex;
  font-size: 22px;
  z-index: 400;
  justify-content: flex-end;
  /* margin: 0px 0px 10px 0px; */
}

.navcontent a:hover {
  text-decoration: none;
  color: rgb(0, 151, 189);
}

.usercontent {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 40%;
  /* border: solid; */
  color: white;
}

@media (max-width: 1000px) {
  .navcontent {
    display: none;
  }
}
