  /* Dropdown Content (Hidden by Default) */
  .dropdown-user {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
    right: 0;
    text-indent: 10px;
    align-items: center;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-user a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    align-items: center;

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-user a:hover {
    background-color: #ddd;
    text-decoration: none;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-user {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .userbutton {background-color: #3e8e41;}