.UserButton {
    background-color: transparent;
    color: rgb(80, 80, 80);
    padding: 40px 10px 0px 30px;
    font-size: 20px;
    border: none;
    right: 0;
    position: relative;
    outline: none;
}

.UserButton:active {
    outline: none;
    border: none;
}
  
.UserButton:focus {
    outline: none;
}
